# --------------------
# Python cache files
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual environments
# --------------------
venv/
.venv/
env/
.env/

# --------------------
# MLflow tracking data
# --------------------
mlruns/
mlartifacts/

# --------------------
# Logs & temp outputs
# --------------------
logs/
*.log

# --------------------
# IDE settings
# --------------------
.vscode/
.idea/

# --------------------
# OS-specific files
# --------------------
.DS_Store
Thumbs.db
